$fs: 16;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto-regular", arial, sans-serif;
$font-size-base: .9rem;
$line-height-base: 1.6;

$colors: (
  "link": #3490dc,
  "navigation": #333,
  "white": #fff,
  "black": #000,
  "light-grey": #eaeaea,
  "dark-grey": #909090
);

$font-weight: (
  "bolder": 900,
  "bold": 700,
  "normal": 400
);
