$fs: 16;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto-regular", arial, sans-serif;
$font-size-base: .9rem;
$line-height-base: 1.6;

$colors: (
  "white": #fff,
  "black": #000,
  "red": #f00,
  "link": #3490dc,
  "navigation": #333,
  "light-grey": #eaeaea,
  "c-grey": #ccc,
  "evil-grey": #666,
  "price-title": #a2a2a2,
  "dark-grey": #909090,
  "footer": #0d3048,
  "product-title": #238cd6,
  "text": #4a4a4a,
  "button-bg": #007aff,
  "button-price": #00aeed,
  "star": #FC0,
  "sliderArrow": #797979
);

$font-weight: (
  "bolder": 900,
  "bold": 700,
  "normal": 400
);
