// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: Cabin-regular;
  src: url("../fonts/cabin-regular.woff2") format("woff2"),
    url("../fonts/cabin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}