.button {
  height: rem(60);
  line-height: rem(60);
  font-size: rem(25);
  color: map-get($colors, "white");
  text-align: center;
  border: none;

  &__cta {
    width: 60%;
    font-size: rem(25);
    cursor: pointer;
    border-radius: rem(5);
    background: map-get($colors, "button-bg");
  }

  &__price {
    background: map-get($colors, "button-price");
  }
}