.header {
  height: rem(90);
  position: sticky;
  top: 0;
  z-index: 90;
  background: map-get($colors, "white");
  box-shadow: 0 (2em/$fs) (6em/$fs) 0 rgba(map-get($colors, "black"), .3);

  .wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: rem(348);
    height: rem(70);
    background: url("../../images/logo.png") no-repeat;
  }
}