.list {
  &__figure {

  }

  &__title {
    margin-top: rem(15);
    font-size: rem(22);
    line-height: rem(40);
  }

  &__summary {
    font-size: rem(18);
    line-height: rem(20);
    @include clamp(3);
  }

  .button {
    margin-top: rem(25);
  }
}