#navigation {
  flex-grow: 1;
}

.navigation__ {
  &li {
    float: left;
    margin-left: rem(30);

    &:first-child {
      margin: 0;
    }
  }

  &link {
    font-size: rem(22);
    line-height: rem(40);
    color: map-get($colors, 'navigation');
  }
}