#navigation {
  flex-grow: 1;
}

.navigation__ {
  &ul {
    display: flex;
    justify-content: flex-end;
  }

  &li {
    margin-right: rem(30);
  }

  &link {
    font-size: rem(22);
    line-height: rem(40);
    color: map-get($colors, "navigation");
  }
}