.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(map-get($colors, "black"), .5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  @include hidden();

  &.show {
    display: flex;
    visibility: visible;
  }

  &__wrapper {
    background: map-get($colors, "white");
    padding: rem(20);
    border-radius: rem(20);
    max-width: rem(900);
    position: relative;
  }

  &__close {
    position: absolute;
    right: rem(-15);
    top: rem(-15);
    width: rem(30);
    height: rem(30);
    background-color: map-get($colors, "white");
    border-radius: rem(100);
    border: solid rem(3) map-get($colors, "black");
    z-index: 2;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23000000' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    cursor: pointer;
  }

  &__loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(map-get($colors, "white"), .7);
    z-index: 1;
    border-radius: rem(20);
    @include hidden();

    &.show {
      display: block;
      visibility: visible;
    }
  }
}