.search_form {
  $pd: rem(10);
  $ico: rem(14);
  width: rem(184);
  height: rem(34);
  line-height: rem(34);
  background: map-get($colors, "light-grey");
  padding: 0 rem(25) 0 $pd;
  position: relative;
  box-sizing: border-box;

  &__input {
    border: none;
    font-size: rem(14);
    background: none;
    height: rem(16);
    line-height: rem(16);
    color: map-get($colors, "dark-grey");
  }

  &__submit {
    border: none;
    background: none;
    width: $ico;
    height: $ico;
    position: absolute;
    right: $pd;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
  }

  .ico-search {
    width: $ico;
    height: $ico;
  }
}