.selector {
  height: rem(20);

  &:hover {
    .selector__ul {
      max-height: rem(100);
    }
  }

  &--current {
    height: 100%;
    font-size: rem(14.5);
    line-height: rem(20);
    color: map-get($colors, "navigation");
  }

  &__ul {
    background: map-get($colors, "white");
    overflow: hidden;
    max-height: 0;
    transition: max-height 500ms;
  }

  &__li {
    padding: rem(5) rem(2.5);
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }
  }

  .ico-down {
    width: rem(11);
    height: rem(6);
    display: inline-block;
    margin-left: rem(7);
  }
}