@import "gridlex-vars";

.wrapper,
.layout-wrapper {
  width: rem(1150);
  margin: 0 auto;
}

.wrapper {
  height: 100%;
  position: relative;
}

.layout-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.layout-main {
  flex-basis: rem(760);
}

.layout-aside {
  flex-basis: rem(370);
}

@media (max-width: em(1149)) {
  .wrapper,
  .layout-wrapper {
    width: calc(100% - #{rem(20)});
  }

  .layout-aside,
  .layout-main {
    flex-basis: 100%;
  }
}