@import "gridlex-vars";

.wrapper {
  width: rem(1150);
  margin: 0 auto;
  height: 100%;
}

.layout-wrapper {
  width: rem(1150);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.layout-main {
  flex-basis: rem(760);
}
.layout-aside {
  flex-basis: rem(370);
}