// Variables
@import "../variables";

$sidebar: (270rem/$fs);


.vertical-nav {
  min-width: $sidebar;
  width: $sidebar;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: (3em/$fs) (3em/$fs) (10em/$fs) rgba(0, 0, 0, .1);
  transition: margin .4s;

  &.active {
    margin-left: $sidebar*-1;
  }
}

.page-content {
  width: calc(100% - #{sidebar});
  margin-left: $sidebar;
  transition: margin .4s, width .4s;

  &.active {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: (768em/$fs)) {
  .vertical-nav {
    margin-left: $sidebar*-1;

    &.active {
      margin-left: 0;
    }
  }

  .page-content {
    width: 100%;
    margin: 0;

    &.active {
      margin-left: $sidebar;
      width: calc(100% - #{sidebar});
    }
  }
}