// Fonts

@font-face {
  font-family: Roboto-regular;
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Variables
@import "../variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.column-action {
  width: (250em/$fs);

  button {
    width: 100%;
  }
}

.table {
  th,
  td {
    vertical-align: middle;
  }
}

.sticky-head {
  position: sticky;
  top: 0;
  background: #f8fafc;
  box-shadow: 0 0 (10em/$fs) (3em/$fs) rgba(#f8fafc, 1);
  border-radius: 0 0 (10em/$fs) (10em/$fs);
  z-index: 9;
}

.hidden {
  display: none;
  visibility: hidden;
}

input[type = number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

// Draft
@import "./modules/draft/draft.scss";
@import "./modules/draft/rich-editor.scss";

// Dropzone
@import "./modules/dropzone/basic.scss";
@import "./modules/dropzone/dropzone.scss";