// Fonts

@font-face {
  font-family: Roboto-regular;
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Variables
@import "./variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.column-action {
  width: (250em/$fs);

  button {
    width: 100%;
  }
}

.table {
  th,
  td {
    vertical-align: middle;
  }
}

.sticky-head {
  position: sticky;
  top: 0;
  background: #f8fafc;
  box-shadow: 0 0 (10rem/$fs) (3rem/$fs) rgba(#f8fafc, 1);
  border-radius: 0 0 (10rem/$fs) (10rem/$fs);
  z-index: 9;
  margin: 0 0 (10rem/$fs) 0;
}

.hidden {
  display: none;
  visibility: hidden;
}

input[type = number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

[class *= aspect-] {
  margin: 0;
  width: 100%;
  height: 0;
  position: relative;
  display: block;
  background: #e2e2e2;
  overflow: hidden;
  z-index: 0;

  img,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.aspect-16-9 {
  padding-bottom: 56.25%;
}

.aspect-1-1 {
  padding-bottom: 100%;
}

ul,
li {
  padding: 0;
  list-style: none;
}

.image-row {
  display: flex;
  height: (120rem/$fs);
  align-items: center;

  .col-image {
    flex-basis: (120rem/$fs);
    min-width: (120rem/$fs);
    max-width: (120rem/$fs);
  }

  .col {
    flex-grow: 1;
  }

  .col-action {
    flex-basis: (150rem/$fs);
    min-width: (150rem/$fs);
    max-width: (150rem/$fs);
  }
}

.tag-list {
  min-height: (23rem/$fs);

  .tag-list-item {
    display: inline-block;
    padding: 0 (20rem/$fs) 0 (5rem/$fs);
    background: $blue;
    border-radius: (5rem/$fs);
    position: relative;
    margin-right: (12rem/$fs);
    cursor: pointer;

    &:last-child {
      margin: 0;
    }

    &:before {
      top: 50%;
      transform: translateY(-50%);
      content: "x";
      font-size: (10rem/$fs);
      height: (16em/10);
      width: (16em/10);
      text-align: center;
      line-height: (16em/10);
      border-radius: 10em;
      background: $indigo;
      right: (2em/10);
      position: absolute;
    }
  }
}

select {
  option {
    cursor: pointer;
  }

  .disabled {
    color: graytext;
    cursor: default;
  }
}

// Draft
@import "./modules/draft/draft.scss";
@import "./modules/draft/rich-editor.scss";

// Dropzone
@import "./modules/dropzone/basic.scss";
@import "./modules/dropzone/dropzone.scss";