@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }
}

.alert {
  &-wrapper {
    position: absolute;
    width: calc(100% - #{$sidebar} - 3rem);
    right: 1.5rem;
    top: .5rem;
    z-index: 999;
  }

  &-close {
    position: absolute;
    right: (15em/$fs);
    top: 50%;
    width: 1em;
    height: 1em;
    cursor: pointer;
    opacity: .5;
    transform: translateY(-50%);

    &:hover {
      opacity: 1;
    }
  }

  .ico-close {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.zoomIn {
  animation-name: zoomIn;
}

.zoomOut {
  animation-name: zoomOut;
}