@font-face {
  font-family: Maven-regular;
  src: url("../../fonts/Maven-pro-Regular.woff2") format("woff2"),
    url("../../fonts/Maven-pro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}