/* stylelint-disable selector-no-qualifying-type  */
body {
  font-family: Maven-regular, Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased; //Fix to mac, because we are poor
  color: map-get($colors, "text");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: map-get($font-weight, "normal");
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: map-get($colors, "link");

  &:active,
  &:hover {
    outline: 0;
  }
}

audio {
  width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

iframe {
  border: none;
}

/*
::selection {
  background-color: map-get($colors, "link");;
  color: map-get($colors, "link");;
}
*/